<section id="infantil">
    <div class="header">
        <img src="https://png.pngtree.com/background/20250108/original/pngtree-hot-dogs-hamburgers-and-french-fries-on-wooden-table-fast-food-picture-image_15591738.jpg" alt="">
        <h2>Infantil</h2>
        <div class="content">
            <p>En Los Olivos Catering, creemos que cada niño es único y especial. Por eso, ofrecemos una amplia variedad de opciones para menús infantiles, desde los clásicos favoritos hasta platillos innovadores y opciones para niños con alergias o necesidades especiales. Creamos menús personalizados que se adaptan a tus gustos y preferencias, para que cada celebración sea un éxito total.</p>
        </div>
        <div class="button">
            <a href="/pdf/menú infantil.pdf" class="cs-button-6" download aria-label="read more about us">
                Descarga nuestro menú
            </a>
        </div>
    </div>
</section>

<style>
    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #infantil {
            width: 100%;
            max-width: 100%;
            border-radius: 0;
            top: 0;
            box-sizing: border-box;
        }

        #infantil .header {
            width: 100%;
            height: 100%;
            position: relative;
        }

        #infantil .header img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 50%;
        }

        #infantil .header h2 {
            position: absolute; /* Positions the h2 over the image */
            top: 30%; /* Centers vertically */
            left: 50%; /* Centers horizontally */
            transform: translate(-50%, -50%); /* Adjusts for the element's own dimensions */
            color: white; /* Ensure text is readable against the image */
            text-align: center;
            font-size: 1.5rem;
            margin: 0; /* Remove default margin */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for readability */
        }

        #infantil .content {
            padding: 1.5rem 1rem;
        }

        #infantil .content p {
            font-size: medium;
            text-align: left;
            font-weight: 300;
        }

        #infantil .button {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cs-button-6 {
            text-align: center;
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 8vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            min-width: 10.875rem;
            margin: auto;
            color: #1a1a1a;
            padding: 0 1.5rem;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #f0ebe5;
            border: 2px solid #1a1a1a;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;
            position: relative;
            z-index: 1;
            transition: color 0.3s;
        }
        .cs-button-6:before {
            content: "";
            width: 0.375rem;
            height: 100%;
            background: #1a1a1a;
            opacity: 1;
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            transition: width 0.3s;
            z-index: -1;
        }
        .cs-button-6 .cs-icon {
            width: 1.5rem;
            height: auto;
        }
        .cs-button-6 .cs-icon path {
            transition: fill 0.3s;
        }
        .cs-button-6:hover {
            color: #f0ebe5;
        }
        .cs-button-6:hover:before {
            width: 100%;
        }
        .cs-button-6:hover .cs-icon path {
            fill: #f0ebe5;
        }


    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
    
    }
    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
    
    }
    /* Large Desktop 1300px */
    @media only screen and (min-width: 81.25rem) {
        #infantil {
            width: 100%;
            height: 100vh;
            max-width: 100%;
            border-radius: 0;
            top: 0;
            box-sizing: border-box;
        }

        #infantil .header {
            width: 100%;
            height: 100vh;
            position: relative; /*Child positions*/ 
        }

        #infantil .header img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            opacity: 50%;
        }

        #infantil .header h2 {
            position: absolute; /* Positions the h2 over the image */
            top: 50%; /* Centers vertically */
            left: 27%; /* Centers horizontally */
            transform: translate(-50%, -50%); /* Adjusts for the element's own dimensions */
            color: white; /* Ensure text is readable against the image */
            text-align: center;
            font-size: 6rem;
            margin: 0; /* Remove default margin */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for readability */
        }

        #infantil .content {
            /*background-color: aqua;*/
            padding: 0 3rem;
            position: absolute;
            top: 60%; /* Centers vertically */
            left: 43%; /* Centers horizontally */
            transform: translate(-50%, -50%); /* Adjusts for the element's own dimensions */
            color: white; /* Ensure text is readable against the image */
            font-size: 6rem;
            margin: 0; /* Remove default margin */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for readability */
        }

        #infantil .content p {
            font-size: large;
            text-align: left;
            font-weight: 600;
        }

        #infantil .button {
            position: absolute;
            background-color: aqua;
            top: 68%; /* Centers vertically */
            left: 17%; /* Centers horizontally */
        }

        .cs-button-6 {
            text-align: center;
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 8vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            min-width: 10.875rem;
            margin: auto;
            color: #1a1a1a;
            padding: 0 1.5rem;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: #f0ebe5;
            border: 2px solid #1a1a1a;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;
            position: relative;
            z-index: 1;
            transition: color 0.3s;
        }
        .cs-button-6:before {
            content: "";
            width: 0.375rem;
            height: 100%;
            background: #1a1a1a;
            opacity: 1;
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            transition: width 0.3s;
            z-index: -1;
        }
        .cs-button-6 .cs-icon {
            width: 1.5rem;
            height: auto;
        }
        .cs-button-6 .cs-icon path {
            transition: fill 0.3s;
        }
        .cs-button-6:hover {
            color: #f0ebe5;
        }
        .cs-button-6:hover:before {
            width: 100%;
        }
        .cs-button-6:hover .cs-icon path {
            fill: #f0ebe5;
        }

                                

    }
</style>