<section class="us">
    <div class="us_img">
        <img src="https://raw.githubusercontent.com/edibauer/0l1v0s/refs/heads/master/los_olivos.png" alt="Los Olivos Catering">
    </div>
    <div class="us_p">
        <p>Los Olivos Catering nació de un sueño: compartir el amor por la buena comida y la calidez de la hospitalidad. Con raíces en la tradición familiar y un espíritu innovador, hemos cultivado un servicio de catering que se distingue por su excelencia y su atención al detalle. Cada platillo que preparamos es una expresión de nuestra pasión por la gastronomía, elaborada con ingredientes frescos y de temporada, y presentada con un toque de elegancia y creatividad. En Los Olivos Catering, nos dedicamos a crear experiencias culinarias que superen las expectativas de nuestros clientes y dejen un recuerdo imborrable en sus eventos.</p>
    </div>
</section>
<style>
   /* Mobile - 360px */
   @media only screen and (min-width: 0rem) {
        .us {
            display: flex;
            flex-direction: column;
        }
        .us_img {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 9rem;
        }
        .us_img img {
            width: 50%;
        }
        .us_p {
            padding: 1.5rem 1.5rem;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
    
    }
    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
    
    }
    /* Large Desktop 1300px */
    @media only screen and (min-width: 81.25rem) {
        .us {
            padding: 12rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .us_p {
            margin: 3rem auto;
            padding: 0 15rem;
            font-size: 2rem;
            text-align: center;
        }
    }
</style>