<section class="us">
    <div class="us_img">
        <img src="https://raw.githubusercontent.com/edibauer/0l1v0s/refs/heads/master/los_olivos.png" alt="Los Olivos Catering">
    </div>
    <div class="us_p">
        <h2>
            MISIÓN
        </h2>
        <p>En olivos catering satisfacer las demandas y necesidades de nuestros clientes esta muy por encima de sus expectativas, brindándoles la más alta calidad, sabor, higiene y presentación. Así también garantiza la mejor atención, efectividad y excelencia en el servicio.</p>
        <h2>
            VISIÓN
        </h2>
        <p>Ser una empresa líder a nivel nacional, en la prestación de servicios profesionales de Catering, Comedores Industriales, Cafeterías EScolares. Así como en la organización integral de Eventos Sociales y de cualquier índole </p>
        <h3>
            EN OLIVOS CATERING QUEREMOS SATISFACER EN TODO MOMENTO AL CLIENTE, PLATÍCANOS TU IDEA Y TE AYUDAMOS A CREARLA
        </h3>
    </div>
</section>
<style>
   /* Mobile - 360px */
   @media only screen and (min-width: 0rem) {
        .us {
            display: flex;
            flex-direction: column;
        }
        .us_img {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 9rem;
        }
        .us_img img {
            width: 50%;
        }
        .us_p {
            padding: 1.5rem 1.5rem;
            text-align: center;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
    
    }
    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
    
    }
    /* Large Desktop 1300px */
    @media only screen and (min-width: 81.25rem) {
        .us {
            padding: 12rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .us_p {
            margin: 3rem auto;
            padding: 0 15rem;
            font-size: 2rem;
            text-align: center;
        }
    }
</style>